/* reset in the document */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html, body{
    height: 100%;
}

.clear{
    clear: both;
}

/* general */
.center{
    max-width: 1280px;
    width: 100%;
    /* centralize */
    margin: 0 auto;
    padding: 0 2%;
}

.header{
    width: 100%;
    height: 90px;
    background-color: rgb(33, 35, 67);
    padding-top: 27px;
}

.header > .center > h2{
    color: white;
}

.container-banner{
    padding: 0 2%;
    width: 100%;
    height: 556px;
    background-color: rgb(204, 204, 204);
    /* cover all area */
    background-size: cover;
    background-position: center;
}

.container-banner > .center{
    height: 100%;
}

.form{
    width: 400px;
    padding: 8px;
    height: calc(100% + 30px);
    top: -15px;
    position: relative;
    border: solid 5px rgba(128, 128, 128, 0.9);
    border-radius: 0px 35px 0px 35px;
    background-color: white;
    float: right;
}

.form h2{
    color: rgb(33, 35, 67);
    font-size: 26px;
    text-align: center;
}

.input-container{
    margin-top: 20px;
}

.input-container span{
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.input-container input[type=text]{
    margin-top: 8px;
    width: 360px;
    height: 50px;
    border: solid 2px #133337;
}

.form p{
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin: 25px 0;
}

.form .input-submit-container{
    text-align: center;
    padding-top: 18px;
}

.form input[type=submit]{
    width: 220px;
    height: 50px;
    color: white;
    font-size: 25px;
    display: inline-block;
    background-color: #212343;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 5px #2a2c53;
    cursor: pointer;
}

.form input[type=submit]:hover{
    background-color: #13152c;
}

.container-list{
    padding: 20px;
    margin-top: 60px;
    float: left;
    width: 600px;
    height: 270px;
    background-color: rgba(33, 35, 67, 0.7);
}

.container-list ul{
    /* list inside the container */
    list-style-position: inside;
}

.container-list ul li{
    color: white;
    margin-top: 25px;
    margin-left: 10px;
}

.container-two{
    /* Espaçamento cima a baixo e esquerda direita 0 */
    padding: 40px 2%;
    background-color: #212343;
    text-align: center;
    color: white;
}

.container-two p{
    width: 100%;
    max-width: 768px;
    display: inline-block;
    margin: 20px 0;
    text-align: justify;
}

.arrow{
    width: 52px;
    height: 52px;
    background-image: url(../img/arrow.jpg);
    background-size: 100% 100%;
    /* Para a seta ficar metade para dentro e metade para fora */
    top: 68px;
    position: relative;
    /* Centralizando no meio */
    left: 50%;
    border-radius: 100%;
    /* Centralizando perfeitamento no meio */
    margin-left: -20px;
    overflow: hidden;
}

.section-one{
    background-color: #ccc;
    padding: 90px 2%;
}

.section-one h2{
    text-align: center;
    margin-top: 8px;
}

.container-section{
    margin-top: -15px;
}

.container-section{
    text-align: center;
}

.container-single{
    float: left;
    width: 33.333%;
    padding: 30px;
}

.container-single p{
    display: inline-block;
    padding: 10px 25px;
}

.container-single img{
    width: 230px;
    margin-bottom: -60px;
    overflow: hidden;
    border-radius: 100%;
}

.footer{
    padding: 15px 0;
    background-color: #212343;
    border-top: 4px solid black;
    text-align: center;
}

.footer p{
    margin-top: 7px;
    color: white;
}

/* removing all fixed width */

